.list {
    width: 100%;
}

.container {
    width: inherit;
    display: flex;
}

.item {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    height: 180px;
    width: 204px;
    background-color: lavenderblush;
}

.item .header {
    padding: 0px 5px;
}

.temp {
    font-size: 30px;
    font-weight: lighter;
}

.humidity {
    padding: 5px 0px;
}

.weather {
    padding: 5px 0px;
}