.list {
    width: 100%;
}

.container {
	display: flex;
}

@media (max-width: 768px){
	.container {
			display: grid;
	}    
}

.container{
	width: 80%;
	margin: auto;
}

.item {
	margin: auto 5px;
	padding: 10px 10px;
	height: 180px;
	width: 204px;
	background-color: lavenderblush;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
}

@media screen and (max-width: 768px){
	.item {
		margin: 5px auto;
	}
}

.item .header {
    padding: 0px 5px;
}

.temp {
    font-size: 30px;
    font-weight: lighter;
}

.humidity {
    padding: 5px 0px;
}

.weather {
    padding: 5px 0px;
}